/* -------Reset------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* -------Common------- */
body{
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

p,
input,
button{
    font-size: 1rem;
}

/* -------Login & Register Page------- */
/* -----Forms----- */
.forms{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.login,
.register{
    max-width: 330px;
    width: 100%;
    background-color: #7676dd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin: 0 10px;
}

/* Title */
h2{
    margin-bottom: 10px;
}

/* Inputs */
input[type="text"],
input[type="password"]{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    padding: 0 10px;
    border: none;
}

/* Remember Me */
.rem{
    margin-top: 10px;
    width: 100%;
}

/* Login & Register Buttons */
button{
    width: 100%;
    padding: 10px 30px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease-in;
}

button:hover{
    background-color: #fff;
    color: #000;
}

/* -----Message----- */
.msg{
    max-width: 300px;
    width: 100%;
    background-color: #25aa25;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

/* -------Profile Page------- */
/* -----Profile----- */
.profile{
    min-width: 200px;
    padding: 20px;
    background-color: #7676dd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Information */
.profile .data{
    min-width: 150px;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin: 10px 0;
}

/* Logout Button */
.profile a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.3s ease-in;
}

.profile a:hover{
    background-color: #fff;
    color: #000;
}

/* -------Responsive------- */
@media(max-width: 800px){
    /* Forms */
    .forms{
        flex-direction: column;
        align-items: center;
    }

    .login,
    .register{
        margin: 20px 0;
    }
}